.todoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  .todoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
}
